{% extends 'baseHome.html' %}

{% block links %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}



{% block contentstyle %}


{% endblock %}

{% block content %}

<form action="" method="POST">
    <label for="mail">Emal</label>
    <input id='mail' type="text" name="mail">
    <input type="hidden" id="showH" name="showH" value="{{ request.GET.showH }}">
    <input type="hidden" id="places" name="places" value="{{ request.GET.places }}">
    <input type="hidden" id="norm" name="norm" value="{{ request.GET.norm }}">
    <input type="hidden" id="sch" name="sch" value="{{ request.GET.sch }}">
    <input type="hidden" id="stud" name="stud" value="{{ request.GET.stud }}">
    <input type="hidden" id="child" name="child" value="{{ request.GET.child }}">
    <input type="submit" value="Dokonaj rezerwacji">
</form>

{% endblock %}

{% block script %}


{% endblock %}
