{% extends 'baseHome.html' %}

{% block contentstyle %}
    .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  float: left;
  display: inline-block;
float: left;
  width: 40%;
  margin-left: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.parent {
  background: lightblue;
    display: grid;
    place-items: center;
  resize: both;
  overflow: auto;

  }

.selection {
  justify-content: flex-end;
  width: 40%;
  display: flex;
  margin-right:10%;
}

.subclass {
  width: 100%;
  height:auto;

display: flex;
}


.selection button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

{% endblock %}

{% block content %}







<div class = "parent">
  <div class="subclass">
    <div class="dropdown">
      <button id = "choiceButtonFilm" onclick="myFunctionFilm()" class="dropbtn">Wybierz Film</button>
      <div id="myDropdownFilm" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInputFilm" onkeyup="filterFunctionFilm()">
          {% for movie in object_list_movies %}
             <a onclick="toogleTextFilm('{{ movie.name }}',{{ movie.id }})" > {{ movie.name }}</a>
          {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <button id = "choiceButton" onclick="myFunction()" class="dropbtn" autocomplete="off" disabled="disabled">Wybierz kino</button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
          {% for instance in object_list %}
             <a onclick="toogleText('{{ instance.city }} - {{ instance.name }}', {{ instance.id }})" id="{{ instance.id }}"> {{ instance.city }} - {{ instance.name }}</a>
          {% endfor %}
      </div>
    </div>
    <div class="selection">
        <button onclick="showKina()" class="dropbtn">Kina</button>
        <button onclick="showFilm()" class="dropbtn">Filmy</button>
    </div>
  </div>
</div>





{% endblock %}

{% block script %}
<script>
var list = [{% for show in object_list_shows %}
             [{{ show.movie.id }}, {{ show.cinema.id }}],
          {% endfor %}]

var idCinema
var movie
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
  document.getElementById("myInput").value = ""
}
function myFunctionFilm() {
  document.getElementById("myDropdownFilm").classList.toggle("show");
  document.getElementById("myInputFilm").value = ""
}
function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    console.log()
    if ((txtValue.toUpperCase().indexOf(filter) > -1) && (a[i].style.visibility == "visible") ){
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function filterFunctionFilm() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInputFilm");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdownFilm");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function toogleText(text, id) {
  idCinema = id
  document.getElementById("choiceButton").innerHTML = text;
  document.getElementById("myDropdown").classList.toggle("show");
}
function toogleTextFilm(text, id) {
  var a, div, test
  movie = id
  var tempL = []
  for (ii = 0; ii < list.length; ii++) {
        if (list[ii][0]==id){
          tempL.push(list[ii][1])
        }
  }
  document.getElementById("choiceButton").innerHTML = "Wybierz kino"
  document.getElementById("choiceButtonFilm").innerHTML = text;
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    test = 0
    txtValue = a[i].textContent || a[i].innerText;
    for (kk = 0; kk < tempL.length; kk++){
      if (tempL[kk]==parseInt(a[i].id)){
        test = 1

      }
    }
    if (test == 0){
      a[i].style.display = "none";
      a[i].style.visibility = "hidden";
    }
    else {
      a[i].style.display = ""
      a[i].style.visibility = "visible";
    }
  }
  document.getElementById("myDropdownFilm").classList.toggle("show");
  document.getElementById("choiceButton").disabled = false;
  document.getElementById("myInput").value = ""
}

</script>
{% endblock %}
