{% extends 'baseHome.html' %}

{% block links %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}



{% block contentstyle %}

.select-wrap label {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-top: 2px solid #86c232;
}

.select-wrap2 label {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #86c232;
}

input[type=submit] {
  background-color: #86c232;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
    background-color: #61892f;
}

{% endblock %}

{% block content %}
<div style="background-color: #474b4f; color: #fff; text-align: center" >
    <div style="background-color: #6b6e70; color: #fff;">
        <h1>Rezerwacja</h1>
    </div>
<form action="/rezerwacja/{{idShow}}" method="GET">
    <br/>
    <br/>
    <div class="select-wrap">
        <label for="norm">Bilety normalne cena:{{ pricing.priceNor }} zł. Ilość:</label>
            <select name="norm" id="norm">
                <option selected>0</option>
            </select>
    </div>
    <br/>
    <br/>
    <div>
        <label for="sch">Bilety szkolne cena:{{ pricing.priceSch }} zł. Ilość:</label>
            <select name="sch" id="sch">
                <option selected>0</option>
            </select>
    </div>
    <br/>
    <br/>
    <div>
        <label for="stud">Bilety studenckie cena:{{ pricing.priceStud }} zł. Ilość:</label>
            <select name="stud" id="stud">
                <option selected>0</option>
            </select>
    </div>
    <br/>
    <br/>
    <div class="select-wrap2">
        <label for="child">Bilety dla dzieci do lat 7 cena:{{ pricing.priceNor }} zł. Ilość:</label>
            <select name="child" id="child">
                <option selected>0</option>
            </select>
    </div>
    <br/>
    <input type="submit" value="Dalej">
</form>
</div>

{% endblock %}

{% block script %}

var numberRes = [{% for instance in p %}'{{ instance }}', {% endfor %}]

var leftP = 10

for (var i = 0; i < leftP; i++) {
    var x = document.getElementById("norm");
    var option = document.createElement("option");
    option.text = i+1;
    x.add(option);

    x = document.getElementById("sch");
    option = document.createElement("option");
    option.text = i+1;
    x.add(option);

    x = document.getElementById("stud");
    option = document.createElement("option");
    option.text = i+1;
    x.add(option);

    x = document.getElementById("child");
    option = document.createElement("option");
    option.text = i+1;
    x.add(option);
}

console.log(numberRes.length)
{% endblock %}
